@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
background: #222 url(pattern.png) fixed;
font-family: "Ubuntu", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 24px;
color: #fff;
margin: 0;
padding: 0;
text-shadow: 0 2px 2px rgba(0,0,0,.4);
}

* {
margin: 0;
padding: 0;
}

#head {
padding: 20px 0;
}

#intro {
background: url(photo.jpg) center center no-repeat;
background-size: cover;
width: 640px;
height: 480px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -240px;
margin-left: -320px;
-webkit-box-shadow: 0 0 20px 0 #000;
-moz-box-shadow: 0 0 20px 0 #000;
box-shadow: 0 0 20px 0 #000;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}

.center {
background-color: rgba(0,0,0,0.33);
width: 540px;
height: 380px;
padding: 50px;
position: relative;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

h1 {
font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 100;
font-size: 64px;
line-height: 64px;
margin-bottom: 48px;
text-shadow: 0 3px 3px rgba(0,0,0,.4);
}

p {
margin-bottom: 10px;
}

a {
color: #fff;
text-decoration: none;
border-bottom: rgba(255,255,255,0.4) 2px solid;
-moz-transition: color 0.3s ease-in-out;
-webkit-transition: color 0.3s ease-in-out;
transition: color 0.3s ease-in-out;
}

a:hover {
color: #bbb;
}

a img {
border: 0 none;
}

.social {
position: absolute;
left: 50px;
bottom: 50px;
}

.social a {
display: block;
width: 24px;
height: 24px;
float: left;
box-shadow: 0 0 4px rgba(0,0,0,.4);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px; 
opacity: 0.5;
border: 0 none;
margin-right: 12px;
-moz-transition: opacity 0.3s ease-in-out;
-webkit-transition: opacity 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out;
}

.social a:hover {
opacity: 0.8 !important;
}

@media (max-width: 640px) {

html {
-webkit-text-size-adjust:none
}

#intro {
background-size: cover;
width: auto;
height: auto;
position: relative;
top: auto;
left: auto;
margin: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

br {
display: none;
}

.center {
width: auto;
height: auto;
}

.social {
position: relative;
left: auto;
bottom: auto; 
padding-top: 24px;
margin-bottom: 24px;
}

}
